<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hanan.hanan.mathshapes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon4"
        android:label="Geometrics"
        android:roundIcon="@drawable/icon4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".squareActivity"
            android:label="@string/square_name" />
        <activity
            android:name=".CircleActivity"
            android:label="@string/circle_name" />
        <activity
            android:name=".RectangleActivity"
            android:label="@string/rectangle_name" />
        <activity android:name=".TriangleActivity"
            android:label="@string/triangle"/>

    </application>

</manifest>